* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

header {
    width: 100%;
    min-height: 60px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 20px;
}

header img {
    width: 80px;
}

header a.menu-btn {
    background-color: #007bff;
    border: 0;
    color: #ffffff;
    padding: 7px 10px 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: block;
}
header a.menu-btn:hover {
    background-color: #0069d9;
}

.card-input,
.card-input input {
    font-size: 16px;
}
.card-input input {
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    padding: 5px 10px;
    width: 100px;
    margin-left: 5px;
}
.card-input input:focus {
    outline: none;
    background-color: #f0f0f0;
}

.services,
.rewards {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: hidden;
    max-width: 1300px;
}

.services > div,
.rewards > div {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 430px;
}

h2 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    flex: 1;
}

.content p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 3px 5px;
}
